<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign-up Page</h1>
    <form action='signup' method="POST">
        <label for="firstname">First Name:</label><br>
        <input type="text" id="firstname" name="firstname"><br>
        <label for="middlename">Middle Name:</label><br>
        <input type="text" id="middlename" name="middlename"><br>
        <label for="lastname">Last Name:</label><br>
        <input type="text" id="lastname" name="lastname"><br>
        <label for="email">email address:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password"id="password" name="password" ><br>
        <label for="password2">Confirm Password:</label><br>
        <input type="password" id="password2" name="password2"><br>
        <label for="mobile">Phone Number:</label><br>
        <input type="text" id="mobile" name="mobile"><br>
        <label for="dob">Date Of Birth:</label><br>
        <input type="date" id="dob" name="dob"><br>
        <label for="education">Education:</label><br>
        <input type="text" id="education" name="education"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="pincode">Pincode:</label><br>
        <input type="text" id="pincode" name="pincode" onchange="call(this)" ><br>
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city"><br>
        <label for="state">State:</label><br>
        <input type="text" id="state" name="state"><br>
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country"><br>
        

        <button type="submit">SIGN UP</button>
    </form>
   
    <p>already have an account? <a href="/api/users/login">click to Login </a> </p>

</body>
</html>
<script>
    var api = "https://api.postalpincode.in/pincode/";
    var cityFeild = document.getElementById("city");
    var stateFeild = document.getElementById("state");
    var countryFeild = document.getElementById("country");

    function call(e){
        // if(e.keycode == 13){
            var apiPin= api + this.value;
            fetch(apiPin)
            .then(response => response.json())
            .then(data =>{
                if(data.Status=="Success"){
                    var city=data.PostOffice[0].District;
                    var state=data.PostOffice[0].State;
                    var country=data.PostOffice[0].Country;
                    cityFeild.setAttribute("value",city);
                    stateFeild.setAttribute("value",state);
                    countryFeild.setAttribute("value",country);
                }
            })
        // }
 }
</script>
<!-- var elem = document.getElementById("wage");
elem.onkeyup = function(e){
    if(e.keyCode == 13){
       validate();
    }
} -->